@charset "UTF-8";

.c-icon-container {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;

    color: white;
    background-color: var(--fourth-color);
}

.c-info {
    font-weight: bold;
    color: var(--fiveth-color);
    text-transform: capitalize;
}

.c-generico {
    height: 70px;
    padding: 0px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    
    border-bottom: 1px solid var(--fourth-color);
}
