@charset "UTF-8";

.c-icon-container {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;

    color: white;
    background-color: var(--fourth-color);
}

.c-info {
    font-weight: bold;
    color: var(--fiveth-color);
    text-transform: capitalize;
}

.c-generico {
    height: 70px;
    padding: 0px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    
    border-bottom: 1px solid var(--fourth-color);
}

.c-main-title {
    font-size: 1.6em;
    text-transform: capitalize;
}

.c-info-card {
    width: 190px;
    height: 70px;

    padding: 0px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 5px;

    background-color: var(--primary-color);
}

.c-card-desc-container {
    padding: 0px 10px;
    border-left: 2px solid var(--fiveth-color);
}

.c-bloco {
    padding: 10px;
    border-radius: 15px;
    
    color: var(--fiveth-color);
    border: 1px solid var(--fiveth-color);
}

.c-bloco-3 {
    margin-top: 10px;
    display: flex;
}

.c-title-info {
    display: flex;

    color: var(--fiveth-color);
}

.c-position-info {
    width: 200px;

    margin-right: 40px;
}
