@charset "UTF-8";

:root {
    --font-main: 'Signika Negative', sans-serif;
    --font-main-botao: 'Kanit', sans-serif;
}

main {
    box-sizing: border-box;
    position: relative;

    line-height: 1.5em;
    letter-spacing: 1px;
}

.capa {
    width: 100%;
    height: 496px;

    display: flex;
    justify-content: center;

    background-color: #44776d;
}

.container-capa {
    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 496px;

    display: grid;
    grid-template-columns: repeat(20, 55px);
    grid-template-rows: repeat(15, 31px);
}

.texto-capa {
    width: 100%;
    height: 100%;

    grid-column: 1/10;
    grid-row: 2/12;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-family: var(--font-main);
    font-size: 3.5em;
    font-weight: bold;

    line-height: 1.5em;
    letter-spacing: 2px;

    color: #fff;

    text-shadow: -20px 20px 5px rgb(0 0 0 / 29%);
}

.img-capa {
    width: 600px;
    height: 360px;

    grid-column: 10/20;
    grid-row: 2/12;
}

.botao-capa {
    width: 100%;
    height: 100%;

    grid-column: 1/10;
    grid-row: 12/16;

    display: flex;
    align-items: flex-start;
    justify-content: center;  
}

.botao-capa a {
    font-size: 1.3em;
    font-weight: 500;
    font-family: var(--font-main-botao);

    text-decoration: none;

    padding: 15px;
    border-radius: 3px;

    color: #fff;
    background-color: darkred;

    text-shadow: -2px 3px 5px #00000050;
    box-shadow: -20px 20px 12px rgba(0, 0, 0, 0.342);
}

.botao-capa a:hover {
    background-color: rgba(139, 0, 0, 0.781);
}

.bloco-trailers {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    background-color: #44776d;
}

.container-trailers {
    width: 100%;
    max-width: 1050px;

    height: 100%;
}

.texto-trailers {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3.4em;
    font-family: var(--font-main);
    font-weight: bold;

    line-height: 1.5em;
    letter-spacing: 2px;

    color: #fff;

    text-shadow: -20px 20px 5px rgb(0 0 0 / 29%);
}

.trailers {
    width: 100%;

    margin-top: 40px;

    padding: 20px 0px 20px 0px;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #325851;
    
    box-shadow: -20px 20px 12px rgba(0, 0, 0, 0.342);
}

.trailers iframe {
    border-radius: 3px;
}

.botao-trailer {
    width: 100%;
    height: 130px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.botao-trailer a {
    width: 180px;
    height: 30px;

    margin-top: -10px;

    font-size: 1.3em;
    font-family: var(--font-main-botao);
    font-weight: bold;

    text-decoration: none;
    text-align: center;

    padding: 20px 10px 3px 10px;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;

    color: rgb(255, 255, 255);
    background-color: #325851;

    text-shadow: -2px 1px 1px #00000079;
    box-shadow: -20px 20px 12px rgba(0, 0, 0, 0.342);
}

.botao-trailer a:hover {
    color: rgba(255, 255, 255, 0.651);
}

.bloco-stream {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    padding-top: 50px;

    background-color: #44776d;
}

.container-stream {
    width: 100%;
    max-width: 1050px;

    height: 100%;

    padding: 20px 0px;

    border-radius: 3px;

    background-color: #325851;
    box-shadow: -20px 20px 12px rgba(0, 0, 0, 0.342);
}

.titulo-stream {
    width: 100%;
    max-width: 926px;

    margin: 0px auto 0px auto;
    padding: 3px 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.1em;
    font-family: var(--font-main);
    font-weight: bold;

    line-height: 1.5em;
    letter-spacing: 2px;

    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    color: rgba(255, 255, 255, 0.774);
    background-color: rgba(0, 0, 0, 0.76);
}

.box-all {
    width: 100%;
    max-width: 1050px;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-stream {
    width: 230px;
    height: 465px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 {
    border-bottom-left-radius: 3px;

    background-color: rgba(0, 0, 0, 0.856);

    box-shadow: inset 0px 11px 15px #0000003b;
}

.box-1 img {
    width: 75px;

    opacity: .9;
}

.box-2 {
    background-color:  rgba(255, 255, 255, 0.856);

    box-shadow: inset 0px 11px 15px #0000003b;
}

.box-2 img {
    width: 140px;

    opacity: .9;
}

.box-3 {
    background-image: linear-gradient(to bottom, #5400dcd5, #7100c1d5);

    box-shadow: inset 0px 11px 15px #0000003b;
}

.box-3 img {
    opacity: .9;
}

.box-4 {
    border-bottom-right-radius: 3px;

    background-color: #0101a1d5;

    box-shadow: inset 0px 11px 15px #0000003b;
}

.box-4 img {
    width: 145px;

    opacity: .9;
}
