.clients {
    width: 100vw;
    height: 200px;
    display: flex;

    background-color: #F3F5FA;
}

.clients > div {
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients > div img {
    width: 60px;

    filter: saturate(1%);
}

.clients > div img:first-child {
    margin-bottom: 35px;
}

.clients > div img:last-child {
    margin-top:  35px;
}
