* {
    --color-01: rgba(40, 58, 90, 0.9);
    --header-height: 60px;
    --background-main-menu: rgba(40, 58, 90, 0.9);
    --background-color: #37517e;
    --border-menu-option: 2px solid #47b2e4;
}

header {
    width: 100vw;
    height: var(--header-height);

    position: fixed;
    top: 0;
}

.container-header-item {
    width: 100%;
    max-width: 90%;
    height: 100%;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */

.logo-container {
    z-index: -1;
}

.logo-container h1 a {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;

    color: white;
}

/* menu hamburguer */

.container-menu-hamburguer {
    padding: 10px;
    z-index: 1;
}

.container-menu-hamburguer div {
    width: 20px;
    height: 2.1px;

    border-radius:5px;

    background-color: white;
    transition: .3s ease;
}

.container-menu-hamburguer div:nth-child(1), div:nth-child(2) {
    margin-bottom: 5px;
}

/* drop down / deep drop down */

.bloco-menu-items {
    width: 100vw;
    height: 100vh;

    z-index: -1;

    opacity: 0;
    display: none;

    transition: .2s ease;

    position: absolute;
    top: 0px;
    left: 0px;

    padding-top: 25px;

    background-color: var(--background-main-menu);
}

.container-menu-items {
    width: 95vw;
    height: 88vh;

    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;

    overflow-y: scroll;

    background-color: white;
}

.nav-menu-list > li {
    width: 100%;
    height: 100%;
    margin-bottom: 1px;
}

.nav-menu-list > li a {
    width: 100%;
    padding: 12px 25px;

    font-size: .95em;

    display: block;
    color: var(--background-color);
}

.container-drop {
    display: flex;
    align-items: center;
    position: relative;
}

.arrow-container {
    margin-right: 30px;
    display: flex;
}

.drop-down-option .arrow-container div, .arrow-deep-container > div {
    width: 8px;
    height: 1px;

    background-color: var(--background-color);
}

.drop-down-option .arrow-container div:first-child {
    transform: translate(2px, 0px) rotate(45deg);
}

.drop-down-option .arrow-container div:last-child {
    transform: rotate(-45deg);
}

.drop-down-list {
    width: 90%;
    height: 0px;

    display: none;
    flex-direction: column;
    overflow: hidden;

    margin: 10px auto 5px auto;
    padding-left: 0px;

    background-color: white;
    box-shadow: 0px 0px 15px 3px #0000002e;

    transition: .01s ease;
}

/* deep drop down */

.container-deep-drop {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.arrow-deep-container > div:first-child {
    transform: translate(0px, -2px) rotate(45deg);
}

.arrow-deep-container > div:last-child {
    transform: translate(0px, 2px) rotate(-45deg);
}

/* menu option */

.getStarted-option {
    padding: 0px 10px;
    margin-top: 8px;
}

.nav-menu-list > .getStarted-option a {
    font-weight: bold;
    border: var(--border-menu-option);
    border-radius: 30px;
}
