@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
}

.header {
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
}

.logo-geral {
    width: 105px;
    height: 100%;

    margin-left: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.local-logo {
    font-size: 1.9rem;
    color: rgb(238, 33, 26);
}

.titulo-logo {
    font-size: 2rem;
    font-weight: 300;

    color: rgb(238, 33, 26);
}

.lupa {
    margin: 10px 35px 0px 0px;

    font-size: 1.8rem;
    color: #333333;
}

/* -------------------------------- */

.naveg-geral {
    height: 50px;

    display: flex;
    align-items: center;

    background-color: #0f0f0f;
}

.naveg-geral a {
    padding: 14.5px;

    font-size: 1.1rem;
    color: white;
}

.naveg-geral a:hover {
    background-color: rgb(238, 33, 26);
}

.icone {
    margin-right: 10px;
    font-size: .9rem;
}

.icone-aviao {
    transform: rotateZ(-45deg);
}