@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    background-color: rgb(226, 226, 226);
}

.bloco {
    width: 100%;
    height: 100%;

    display: flex;
}

.bloco-esquerda {
    width: 45%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-conteudo-esquerda {
    padding: 20px;
}

.aside {
    margin-bottom: 10px;

    color: #da485e;
    font-size: 1.2em;
}

.titulo {
    width: 400px;

    margin-bottom: 35px;

    font-size: 3.3em;
    font-weight: normal;
}

.article {
    width: 400px;

    margin-bottom: 50px;

    font-size: 1.1em;
    line-height: 1.8em;

    color: rgba(0, 0, 0, 0.822);
}

.botao-esquerdo {
    width: 170px;

    margin-left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
}

.botao-esquerdo a {
    padding: 15px;

    font-size: .9em;

    text-transform: uppercase;
    text-decoration: none;

    border-radius: 30px;
    
    color: white;
    background-image: linear-gradient(to right, #ED5563, #F5631A);
}

.bloco-direita {
    width: 55%;

    display: grid;
    grid-template-columns: repeat(53, 14px);
    grid-template-rows: repeat(37, 15px);
}

.container-branding {
    grid-column: 1/25;
    grid-row: 10/28;
}

.container-animation {
    grid-column: 1/25;
    grid-row: 33/37;
}

.container-design {
    grid-column: 25/53;
    grid-row: 5/28;
}

.container-photography {
    grid-column: 25/53;
    grid-row: 28/37;
}

.container-conteudo-direita {
    width: 285px;
    height: 320px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    background-color: white;

    box-shadow: 0px 0px 20px 6px #00000014;
}

.container-conteudo-direita:hover {
    cursor: default;
    
    background-image: linear-gradient(to right, #ED5563, #F5631A);
}

.icone {
    margin-bottom: 30px;
    margin-left: 10px;

    font-size: 2.5em;

    color: #ED5563;
}

.container-conteudo-direita:hover .icone {
    color: white;
}

.titulo-bloco {
    margin-bottom: 25px;

    font-size: 1.5em;
}

.container-conteudo-direita:hover .titulo-bloco {
    color: white;
}

.descricao {
    width: 250px;

    margin-bottom: -30px;

    font-size: 1.1em;

    line-height: 2em;

    color: rgba(0, 0, 0, 0.76);
}

.container-conteudo-direita:hover .descricao {
    color: white;
}
