@charset "UTF-8";

 * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    outline: none;

    font-family: 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
}

.lado-esquerdo {
    width: 44%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../img/fundo-tt.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lado-esquerdo svg {
    width: 380px;

    margin-top: 142px;
    margin-right: 15px;
}

.lado-direito {
    width: 57%;
    height: 100vh;
}

.container-icone > svg {
    width: 45px;

    margin: 35px 0px 0px 30px;
}

.container-tituloGeral {
    width: 100%;

    margin-top: 60px;

    display: flex;
    justify-content: center;
}

.container-tituloGeral > h1 {
    font-size: 4.5rem;
}

.container-subtitulo h2 {
    margin-left: 47px;
    margin-top: 47px;
    font-size: 2.3rem;
}

.container-botao {
    margin: 24px 0px 0px 40px;
    display: flex;
    align-items: center;
}

.c-apple {
    margin-top: 12px;
}

.container-botao a {
    padding: 11px 54px;
    display: block;

    text-align: center;
    font-size: .9rem;
    font-weight: bold;

    border: 1px solid rgb(211, 211, 211);
    border-radius: 30px;

    color: rgb(61, 61, 61);
    /* background-color: black; */
}

.container-botao a svg {
    width: 18px;
    margin-right: 4px;
    vertical-align: sub;
}

.container-botao a .apple {
    width: 20px;
}

.ou {
    margin-top: 12px;
    margin-left: 180px;
    margin-bottom: 20px;
}

.botao-c a {
    margin-left: 45px;
    padding: 13px 18px;

    border-radius: 30px;

    font-weight: bold;
    font-size: .9rem;

    color: white;
    background-color: rgb(33, 132, 245);
}

.container-cookies {
    width: 300px;

    margin-left: 45px;
    margin-top: 15px;
}

.container-cookies p {
    font-size: .7rem;
    color: rgb(97, 97, 97);
}

.container-cookies span {
    color: rgb(33, 132, 245);
}
