@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container-tituloGeral {
        width: 750px;
    }
    .container-capa {
        width: 750px;
        height: 380px;
    }
}

@media screen and (min-width: 601px) and (max-width: 769px) {
    .container-tituloGeral h1 {
        font-size: 2.6rem;
    }
    .naveg {
        width: 530px;
        padding: 5px 0px;
    }
    
    .naveg a {
        padding: 5px 10px;
    
        font-size: 1.2rem;
        letter-spacing: .8px;

        /* background-color: red; */
    }
    .container-tituloGeral {
        width: 550px;
    }
    .container-capa {
        width: 550px;
        height: 330px;
    }
}

@media screen and (max-width: 600px) {
    .container-tituloGeral {
        padding: 20px 0px 15px 0px;
    }
    .container-tituloGeral h1 {
        font-size: 1.9rem;
    }
    .naveg {
        display: none;
    }
    input#check:checked ~ .naveg {
        display: block;
    }
    input#check:checked ~ .naveg a {
        display: block;
    }
    .menu-ham {
        margin: 10px 0px;
        padding: 10px;
        text-align: center;
        display: block;
        background-color: rgb(36, 36, 36);
    }
    .container-tituloGeral {
        width: 360px;
    }
    .container-capa {
        width: 360px;
        height: 250px;
    }
    .container-form > input {
        width: 90%;
        height: 35px;
    }
    .container-form > div > label {
        font-size: 1.1rem;
    }
    .botao {
        width: 130px;
        height: 40px;

        font-size: 1.1rem;
    }
}

@media screen and (max-width: 380px) {
    .container-tituloGeral {
        width: 250px;
    }
    .container-capa {
        width: 280px;
        height: 200px;
    }
}
