
.container-biografia-geral {
    width: 90vw;
    height: 90vh;

    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
}

.container-biografia {
    width: 55%;
    height: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

.titulo {
    margin: 20px 0px 0px 95px;
    align-self: flex-start;
}

.texto-alan {
    width: 90%;
    height: 335px;

    padding: 10px;

    font-size: 1.6rem;
    line-height: 2.1rem;

    color: #fff;
}

.container-img-alan {
    width: 45%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: relative;
}

.img-alan-1 {
    top: 170px;
    right: 105px;

    z-index: 1;
}

.img-alan-2 {
    top: 120px;
    right: 60px;

    opacity: .6;
    z-index: 0;
}

.img-alan-2:hover {
    opacity: 1;
    z-index: 2;
}


.container-img-alan img {
    width: 400px;

    position: absolute;
}
