@charset "UTF-8";

.container-conteudo {
    background-color: #171330;
    border-radius: .188rem;
    border: .125rem solid #00a6e5;
}

.link {
    text-decoration: none;
    display: block;
}

.item-forma {
    border-radius: .188rem;
}

.item-azul {
    color: #00a6e5;
}

.icone {
    width: 46px;

    display: block;

    font-size: 46px;
    opacity: .9;
    color: #00a6e5;
}

.titulo-amarelo {
    font-size: 3rem;
    color: #FFD401;
}

.titulo-tamanho-azul {
    font-size: 2.125rem;
    color: #00a6e5;
}

.texto-borda-azul {
    color: #171330;
    
    text-shadow: .063rem .063rem .063rem #00a6e5, -.063rem .063rem .063rem #00a6e5, .063rem -.063rem .063rem #00a6e5, -.063rem -.063rem .063rem #00a6e5;
}

.video-tamanho {
    width: 17.75rem;
    height: 11.5rem;

    border-radius: 0.188rem;
}
